body {
    background-color: #efefef;
    font-family: 'helvetica', sans-serif;
}
.container {
    height: 100vh;
}
.sidebar {
    height: 100vh;
    background-color: #64babf;
    color: #fff;
    min-width: 400px;
}

.roombox {
    position: relative;
    left: 10%;
    top: 4%;
    width: 200px;
}
.title button {
    position: relative;
    left: 220px;
    top: -50px;
}

h1 {font-size: 2.5em;}

li {list-style: none;}

li a {
    color: black;
    display: block;
    font-size: 20px;
    text-decoration: none;
}
.chatroom {
    height: 100vh;
    width: 100%;
    min-width: 500px;
}
.time {
    font-style: italic;
    color: #adadad;
    width: 200px;
}
.username {
    font-weight: bold;
}
.content {
    font-weight: normal;
}

.message-box {
    position: absolute;
    top: 90vh;
    right: 1%;
    width: 77%;
}
