<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Set a Username</h5>
        </div>
        <div class="modal-body">
            <p>This name will appear when you send messages</p>
            <input type="text" ng-model="username.name" placeholder="username" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="username.addUser()">Set a username</button>
        </div>
    </div>
</div>
